.headder-wraper {
  background: linear-gradient(
    to right,
    #dce35b,
    #45b649
  ); 
  padding: 30px;
  height: 713px;
  position: relative;
  border: 0;
}
.header-navigation {
  display: flex;
}
.nav-list {
  display: flex;
}
.nav-list li a {
  color: #fff;
  font-size: 24px;
}
.nav-list li {
  margin: 10px;
}

.toggle-menu {
  position: fixed;
  display: none;
  z-index: 100;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0);
  transition: all 0.5s linear;
}
.line1 {
  top: 30%;
}
.line3 {
  top: 70%;
}

.active .line1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.active .line2 {
  display: none;
}
.active .line3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-list.toggle {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #ff00cc, #333399);
  width: 100%;
  height: 500px;
  display: flex;
  border-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.new {
  margin-top: 470px;
}
.span-tag{
  transition: 0.5s;
}
.span-tag:hover{
  font-size: 40px;
}
@media (max-width: 192000px) {
  .toggle-menu {
    display: block;
  }
  .nav-list {
    display: none;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.link1 {
  background-color: yellow;
}
.newBodyClass {
  background-color: yellow;
}
.input:focus {
  outline: none;
}
.input {
  border: 2px solid yellow;
}
.delete {
  background: none;
  margin-left: 50px;
  border: 0;
}

.button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 30px;
}

.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 3%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
  margin-right: 30px;
}

.button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
  border: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 14px 48px;
  }
}

.input-form {
  height: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px blue;
  border: 0;
  border-bottom: 1px solid #eee;
}







.clearlist {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clearlist:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}
.clearlist:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
  border: 0;
}

@media (min-width: 768px) {
  .clearlist {
    padding: 16px 48px;
    margin-top: 30px;
  }
}
